<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.data.agroassistant" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	
	<!-- Application Requested Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">
		<!--<activity android:name=".ResultView" android:label="@string/app_name">-->
		<activity android:name=".agroAssistant" android:label="@string/app_name"> 
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> 
		</activity>
		<uses-library android:name="com.google.android.maps" /> 
	
		<activity android:name=".Farms"/>
		<activity android:name=".Farmers" />
		<activity android:name=".Prices" />
		<activity android:name=".Crops" />
		<!-- Search Activities  -->
		<activity android:name=".DetailSearch" android:theme="@style/DialogTheme"></activity>
		
		<!-- Farmers search sub-activities --> 
		<activity android:name=".FarmerDetailSearch" android:theme="@style/DialogTheme"></activity>
		<activity android:name=".FarmerSearch" android:theme="@style/DialogTheme"></activity>
		<activity android:name=".AreaSearch" android:theme="@style/DialogTheme"></activity>
		<activity android:name=".PIDSearch" android:theme="@style/DialogTheme"></activity>
		
		<!-- Prices search sub-activities -->
		<activity android:name=".CropSearch" android:theme="@style/DialogTheme"></activity>
		<activity android:name=".ParishSearch" android:theme="@style/DialogTheme"></activity>
		
		<!-- Location Search  -->
		<activity android:name=".LocationSearch" />
		
		<!-- Farm activities -->
		<activity android:name=".FarmDetails" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".FarmView" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
          
		<!-- Farmer view -->
		<activity android:name=".FarmerView" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".FarmerInfo" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".FarmInfo" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".CropInfo" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity android:name=".ResultView" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"/> 
	</application>
</manifest>

